<ul class="media-list">

<% hataposts.each do |hatapost| %>

    <li class="row">
        
        <div class="col-md-3">
            <%= image_tag hatapost.user.image, class: "img-responsive" %>
        </div>
        <div class="col-md-7">
            <div>
                
                <%= link_to hatapost.user.name, user_path(hatapost.user) %>

                <span class="text-muted">
                    投稿日時<%= hatapost.created_at %>
                </span>
            </div>
            <div>
                <p><%= hatapost.content %></p>
            </div>
            <div>
                <% if current_user == hatapost.user %>
                    <%= link_to "編集", edit_hatapost_path(hatapost), class: 'btn btn-danger btn-xs' %>
                    <%= link_to "削除", hatapost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
                <% end %>
            </div>
            <div>
                <%= render 'liked_posts/liked_button', hatapost: hatapost %>               
            </div>
        </div>
    </li>
    
<% end %>
</ul>

<%= paginate hataposts %>

